################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RithmicSoul.Admin/Client/obj
/RithmicSoul.Admin/Server/obj
/RithmicSoul.Admin/Shared/obj
